
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    We got APIs:
    <ul>
        <li>GET api/job</li>
        <li>POST api/job?job=NEW-JOB</li>
        <li>POST api/token <span>to generate a token</span></li>
    </ul>
    <sub>Please use postman to test the APIs.</sub>
</p>

<p>
    We got pages:
    <ul>
        <li>GET Home/Index</li>
        <li>POST Home/Secret <span>Needs authorization</span></li>
        <li>POST Home/Decode?part=xxxx <span>decode part of JWT</span></li>
    </ul>
</p>