
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Access Denied Page</h1>

@if (!string.IsNullOrEmpty(@ViewBag.UserName as string))
{
    <h2>Welcome: @ViewBag.UserName / @ViewBag.UserRole ! BUT YOU HAS NO PERMISSION TO ACCESS THE PAGE....</h2>
}
else
{
    <h2>You did not log into the system yet.</h2>
}

<a href="/Home/Index">Index</a>

<br />