
@{
    ViewData["Title"] = "Secret";
}

<h1>Secret With Role Page</h1>
<h2>Welcome: @ViewBag.UserName / @ViewBag.UserRole</h2>


<a href="/Home/Index">Index</a>
<br />
<a href="/Home/Logout">Logout</a>
<br />