
@{
    ViewData["Title"] = "SecretWithPolocy";
}

<h1>SecretWithPolocy Page</h1>

<p>
    Once you accessed this page, it means your Claims contains "DateOfBirth".
    <br />
    Or, please go to register page with user name of "slinwithdob", it will automatically add this claim type of DOB for this account.

    <code>
        <pre>
            #region optional for advanced authorization configuration
            services.AddAuthorization(cfg =>
            {

#if AUTH_SAMPLE_1
                #region auth sample 1
                //sample 1, [Authorize(Policy = "Claims.DOB")]
                var defaultAuthBuilder = new AuthorizationPolicyBuilder();
                var defaultAuthPolicy = defaultAuthBuilder.RequireAuthenticatedUser()
                .RequireClaim(ClaimTypes.DateOfBirth)
                .Build();

                cfg.DefaultPolicy = defaultAuthPolicy;
                #endregion

#elif AUTH_SAMPLE_2
                #region auth sample 2

                ////sample 2,  [Authorize(Policy = "Claims.DOB")]
                cfg.AddPolicy("Claims.DOB", policyBuilder =>
                {
                    policyBuilder.RequireClaim(ClaimTypes.DateOfBirth);
                }); 
                #endregion

#elif AUTH_SAMPLE_3
                #region auth sample 3
                //sample 3
                cfg.AddPolicy("Claims.DOB", policyBuilder =>
                {
                    policyBuilder.AddRequirements(new CustomRequireClaim(ClaimTypes.DateOfBirth));
                }); 
                #endregion
#endif
            });

#if AUTH_SAMPLE_3
            services.AddScoped<IAuthorizationHandler, CustomRequireClaimHandler>();
#endif
            #endregion
</pre>
    </code>
</p>

<p>
    <a href="/Home/Index">Index</a>
    <br />
</p>